/* ROOT VARIABLES */
:root {
    --colour-white: #fff;
    --colour-light: #f4f4f4;
    --colour-dark: #525252;
    --colour-black: #141415;
    --colour-primary: rgb(16, 16, 196);
    --colour-primary-light: rgba(49, 28, 242, 0.12);
    --colour-success: #29f5a6;
    --colour-warning: #ffce31;
  
    --transition: all 0.3s ease;
  }
  
  /* ROOT VARIABLES ENDS */
  
  /* BASE */
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 15px;
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--colour-white);
    color: var(--colour-black);
    max-width: 100vw;
  }
  
  a {
    text-decoration: none;
    transition: all 300ms ease;
    color: var(--colour-black);
  }
  
  li {
    list-style: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--colour-black);
  }
  
  h1 {
    font-size: 3.8rem;
  }
  
  h2 {
    font-size: 2.6rem;
  }
  
  h3 {
    font-size: 1.6rem;
  }
  
  h4 {
    font-size: 1.2rem;
  }
  
  h5 {
    font-size: 0.86rem;
  }
  
  p {
    line-height: 1.5;
  }
  
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  section {
    padding: 7rem 0 7rem 0;
    max-width: 100vw;
    overflow-x: hidden;
  }
  
  .cpad {
    text-align: center;
    padding-bottom: 5rem;
  }
  
  img {
    width: 100%;
  }
  
  .btn {
    padding: 1.4rem 3.4rem;
    font-size: 1.1rem;
    color: var(--colour-black);
    background-color: var(--colour-white);
    display: inline-block;
    margin: 2rem 0;
    transition: var(--transition);
  }
  
  .btn:hover {
    box-shadow: 0 2rem 2rem var(--colour-primary-light);
  }
  
  .btn-primary {
    background-color: var(--colour-primary);
    color: var(--colour-white);
  }
  
  /* BASE ENDS */