/*GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
/*GOOGLE FONTS*/
/* ROOT VARIABLES */
:root {
    --colour-white: #fff;
    --colour-light: #f4f4f4;
    --colour-dark: #323345;
    --colour-black: #232532;
    --colour-primary: rgb(16, 16, 196);
    --colour-primary-light: rgba(49, 28, 242, 0.12);
    --colour-success: #29f5a6;
    --colour-warning: #ffae35;
    --colour-warn: #f6a328;
    --colour-off: #5f6170;

    --medium: 500;
    --bold: 600;
  
    --transition: all 0.3s ease;
  }
  
  /* ROOT VARIABLES ENDS */
  
  /* BASE */
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 20px;
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--colour-dark);
    color: var(--colour-white);
    max-width: 100vw;
  }
  
  a {
    text-decoration: none;
    transition: all 300ms ease;
    color: var(--colour-white);
  }
  
  li {
    list-style: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--colour-white);
  }
  
  h1 {
    font-size: 2.5rem;
  }
  
  h2 {
    font-size: 1.7rem;
  }
  
  h3 {
    font-size: 1.2rem;
  }
  
  h4 {
    font-size: 1.2rem;
  }
  
  h5 {
    font-size: 0.86rem;
  }
  
  p {
    line-height: 1.5;
    /* font-size: 20px; */
  }
  
  i {
    color: var(--colour-white);
  }
  
  .container {
    width: 70%;
    margin: 0 auto;
  }
  
  section {
    padding: 7rem 0 7rem 0;
  }
  
  .cpad {
    text-align: center;
    padding-bottom: 5rem;
  }
  
  /* img {
    width: 100%;
  } */
  
  .btn {
    padding: 1.4rem 3.4rem;
    font-size: 1.1rem;
    color: var(--colour-black);
    background-color: var(--colour-white);
    display: inline-block;
    margin: 2rem 0;
    transition: var(--transition);
  }
  
  .btn:hover {
    box-shadow: 0 2rem 2rem var(--colour-primary-light);
  }
  
  .btn-primary {
    background-color: var(--colour-primary);
    color: var(--colour-white);
  }
  
  /* BASE ENDS */

  /* HEADER */

  #header {
    padding-bottom: 7rem;
    overflow: hidden;
    position: relative;
    /* z-index: 999; */
  }

  #header > img {
    position: absolute;
    align-self: center;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: -1;
    align-self: center;
  }

  .thin {
    font-family: "Afacad Flux", sans-serif;
    font-weight: 300;
  }

  #navbar {
    margin:  2rem 0;
    display: flex;
    align-items: center;
    /* position: fixed; */
    /* justify-content: space-between; */
  }

  #navbar .logo {
    width: 60%;
  }

  #navbar .logo img {
    width: 40px;
  }

  .navitems {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
  }

  .navitems li {
    /* font-size: 2rem; */
    font-weight: var(--bold);
  }

  .navitems li a {
    color: var(--colour-off);
  }

  .navitems li:hover a {
    color: var(--colour-light);
  }

  .sideitems {
    position: fixed;
    top: 0 ;
    left: 0;
    right: 0;
    background-color: var(--colour-dark);
    height: 35vh;
    width: 100vw;
    z-index: 1000;
    display: none;
    flex-direction: column;
    gap: 2rem;
    margin: 6rem 0;
    padding: 1rem 1.5rem;
    backdrop-filter: blur(10px);
  }

  .sideitems .otherbtn {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  .otherbtn a {
    border: 1px solid var(--colour-warning);
    padding: 1rem 2rem;
    border-radius: 10px;
    font-weight: 600;
  }



  /* .navitems li:hover::before {
    content: '';
    width: 10px;
    height: 10px;
  } */

  #hero {
    display: flex;
    width: 100%;
  }

  #hero .intro {
    width: 60%;
    display: grid;
    /* position: absolute; */
    z-index: 998;
  }

  .intro .links {
    margin-top: 3rem;
    display: flex;
    gap: 1rem;
  }

  .intro .line {
    width: 10%;
    height: 10px;
    background-color: var(--colour-warning);
    border-radius: .1rem;
  }


  .briefs {
    width: 40%;
    display: grid;
    gap: 1rem;
  }

  .briefs .introh{
    margin-bottom: -.5rem;
  }

  .briefs .resume {
    font-weight: bold;
  }

  .briefs .resume a {
    color: var(--colour-warning);
    text-decoration: underline;
  }

  /* HEADER */

  /* SECTION 1 */

  #contact {
    background-color: var(--colour-black);
    z-index: 999;
    position: relative;
    margin-bottom: 5rem;
  }

  .firstcon {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
  }

  .con {
    display: grid;
    width: 30%;
    height: 0;
    gap: .5rem;
  }

  .con .query {
    margin-bottom:  1rem;
  }

  .con .queryco {
    margin-bottom: 2rem;
  }

  .mail a{
    color: var(--colour-warning);
    font-weight: 600;
  }

  .creative {
    width: 50%;
    display: grid;
    gap: 2rem;
  }

  .experience {
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-end;
  }

  .experience p {
    font-size: 15px;
  }

  .experience .years {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 40%;
  }    

  .experience h1{
    color: var(--colour-warning);
    font-weight: 800;
  }

  .experience .clients {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 40%;
  }

  .boxes {
    display: flex;
    position: absolute;
    justify-content: space-between;
    bottom: -5rem;
    align-items: center;
    width: 70%;
  }

  .boxes .html,
  .javas,
  .react {
    width: 30%;
    height: 250px;
    align-items: flex-end;
    align-self: center;
    display: flex;
    padding: 0 2rem 2rem 1rem;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }

  .javas,
  .react {
    background-color: var(--colour-dark);
  }

  .html  {
    background:var(--colour-warning);
  }

  .boxes i {
    font-size: 40px;
    align-self: center;
  }

  .upcase  {
    display: flex;
    gap: 2rem;
  }
  /* SECTION 1 */

  /* SECTION II */
  .jobs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .screen img {
    width: 500px;
    padding-top: 2rem;
  }

  .screen {
    width: 50%;
  }

  /* SECTION II */

  /* SECTION III */

  #review {
    margin-top: 1rem;
  }

  .reviews {
    position: relative;
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
  }  

  .revtit {
    margin: 3rem;
    align-self: center;
    text-align: center;
  }

  .reviews .card {
    width: 28%;
    height: 500px;
    margin-right: 1rem;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05), 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 1rem;
    backdrop-filter: blur(5px);
  }

  .card .content {
    display: flex;
    /* height: 540px; */
    flex-direction: column;
    align-content: center;
    text-align: center;
    padding: 1rem;
    gap: 1rem;
    transition: 0.5s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
  }

  .card:hover .content {
    transform: translateY(-50px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.5);
  }


  .card a {
    color: var(--colour-warning);
    font-weight: 600;
  }

  .card img {
    height: 180px;
  }

  .card:hover button {
    background-color: var(--colour-warning);
    padding: .5rem 0;
    border-color: var(--colour-warning);
    width: 50%;
    align-self: center;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    font-weight: 600;
    font-size: 20px;
  }
  /* SECTION III */

  /* SECTION IV */
  .more {
    display: flex;
    justify-content: space-between;
  }

  .more .firstpro {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .firstpro p {
    margin-top: 2rem;
  }

  .more .secondpro {
    width: 50%;

  }

  .secondpro p {
    margin: 2rem 0;
    font-weight: 400;
  }

  .secondpro .lines {
    border-bottom: 1px solid #a5a3a3;
  }

  /* SECTION IV */

  /* SECTION V */

  .endon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 20%;
    margin-bottom: 8rem;
  }

  .endon img {
    width: 100px;
  }

  .endon .links {
    display: flex;
    gap: 2rem;
  }

  /* SECTION V */

  /* MEDIA QUERY */
  @media screen and (max-width:1500px ) {

    :root {
      --h1: 2.25rem;
      --h2: 1.5rem;
      --h3: 1.25rem; 
      --normal-font: .5rem; 
      --small-font: .875rem; 
      --smaller-font: .813rem;
    }

    a {
      font-size: 1rem;
    }

    #review {
      display: none;
    }
  }

  @media screen and (max-width:1200px ) {
    .container {
      width: 80%;
    }

    .sideitems {
      display: none;
    }

    .navoff {
      display: none;
    }

    #hero {
      flex-direction: column;
      width: 100vw;
    }

    #hero .introh {
      width: 100vw;
    }
  }
  /* MEDIA QUERY */
